sudo: required

language: go

go:
  - "1.11"

env:
  global:
    - CHANGE_MINIKUBE_NONE_USER=true
    - K8S_VERSION="v1.10.0"
    - MINIKUBE_VERSION="v0.28.2"
    - IMAGE_NAME=storageos/cluster-operator
    - IMAGE_TAG=test

before_install:
  - |
      if ! git diff --name-only $TRAVIS_COMMIT_RANGE | grep -qvE '(\.md)|(\.MD)|(\.png)|(\.pdf)|^(doc/)|^(MAINTAINERS)|^(LICENSE)'; then
        # Do not skip if it's a tagged build.
        if [[ -z "$TRAVIS_TAG" ]]; then
          echo "Only doc files were updated, not running the CI."
          exit
        fi
      fi
  - sudo apt -y update && sudo apt install -y jq
  - curl -Lo yq https://github.com/mikefarah/yq/releases/download/2.3.0/yq_linux_amd64 && chmod +x yq && sudo mv yq /usr/local/bin/
  - curl -Lo storageos https://github.com/storageos/go-cli/releases/download/1.0.0/storageos_linux_amd64 && chmod +x storageos && sudo mv storageos /usr/local/bin/
#  - docker run -d -p 2399:2399 quay.io/coreos/etcd:v3.3.10 /usr/local/bin/etcd -advertise-client-urls http://0.0.0.0:2399 -listen-client-urls http://0.0.0.0:2399

# Skip downloading deps.
install: true

jobs:
  include:
    - go: "1.11"
      sudo: required
      env:
        - "TEST_CLUSTER=kind"
        - "INSTALL_METHOD=olm"
      name: OLM on KinD (k8s-1.14)
      script: ./test/e2e.sh $TEST_CLUSTER $INSTALL_METHOD
    - go: "1.11"
      sudo: required
      env:
        - "TEST_CLUSTER=openshift"
        - "INSTALL_METHOD=olm"
      name: OLM on OpenShift (k8s-1.11)
      script: ./test/e2e.sh $TEST_CLUSTER $INSTALL_METHOD
    - &base-test
      go: "1.11"
      sudo: required
      env:
        - "TEST_CLUSTER=minikube"
        - "INSTALL_METHOD=none"
      name: Minikube (k8s-1.10)
      script: ./test/e2e.sh $TEST_CLUSTER $INSTALL_METHOD
    - <<: *base-test
      env:
        - "TEST_CLUSTER=openshift"
        - "INSTALL_METHOD=none"
      name: OpenShift-3.11 (k8s-1.11)
    - <<: *base-test
      env:
        - "TEST_CLUSTER=kind"
        - "INSTALL_METHOD=none"
      name: KinD (k8s-1.14)
    - stage: deploy
      go: "1.11"
      sudo: required
      env:
        - "TEST_CLUSTER=kind"
        - "INSTALL_METHOD=none"
      name: Publish Container Image
      script:
        - make image/cluster-operator
        - make metadata-zip
      before_deploy:
        - docker login -u "$REGISTRY_USER" -p "$REGISTRY_PASS"
      deploy:
        - provider: script
          script: bash scripts/deploy.sh tagged
          on:
            tags: true
        - provider: releases
          api_key:
            secure: mVr6wWr4Tym729atwxNDDI64PjRdocWUMEb4gOM3gOJUo1BjdJ8D0UzzZJvctW8VdDe1SVZGgpLmFGNOBjP9APBjpTl1ZfQvhJ67urlIn3DCoxjFGTB+2+FM0PVV1FX8hQawy/uTtLHOY+4jrVqm2Av2t486613u++/CNkTZeZCW4ydv/lSOCZ3nieX9eCk13/E6bhrHSQxRFD5KgL5ji+5rzuBlJQ12uzEitxRSBRnBPXU19ZPjFOoR2vbxTzI64BfvhQJSzbdNQbwwPFkmZsYuEUHyu3+ZH8N+Rng/wBL4ejt/gOXIfcHjZ5iGPIhJ3lIaVaxI9L6hHsFh3/QI24arI36Wf31XwPav7m6B4irGNBgbJRr2hS0LbPj0nsguzp/yD4vvpKUwlUtib8PwCxen5snZAQFdNB35Y7K+rdY/xkzFPVXktGZuNd9qSiVzs+kwFFzL2qDVgS5Nap7gYpUEY8Rt0urNklwbvPVdO825an8Y/2f1aXG3yT2jVoLi8z+ON1NDjXAEGJAQp9fVA25iCiW/Bbs7LY0O3EvjudUDPHv+70Lb0etpeqmJVJHavMNqC6cTaVkQ76iEzr0SACwBjAXnJBSkaeh+7KDMZJQ85iGJWPz+p4GyJGXxdLej4TGWS/YO6K5p/eNi5cK2Lbx5iSvSrTyndOFymbsLa+Q=
          file: build/_output/storageos-olm-metadata.zip
          skip_cleanup: true
          on:
            tags: true
        - provider: script
          script: bash scripts/deploy.sh develop
          on:
            branch: master
